__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

models/*.gguf
models/*.bin

bin/*.exe
bin/*.dll

bin-metal/*.exe
bin-metal/*

bin-cuda/*.exe
bin-cuda/*.dll

bin-vulkan/*.exe
bin-vulkan/*.dll

/*.gz

bin-vulkan
bin-cuda
bin-metal

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.log
help.txt

*.db
robbit.db
